<!-- Begin Footer -->
<footer id="footer" class="footer">
	<div class="row">
		<div class="pull-left col-md-6 col-xs-6">
			<div class="g-plusone" data-size="medium" data-annotation="inline" data-width="300" data-href="{{ site.url }}"></div>
		</div>
		<div class="logo logo-footer logo-gray pull-right"></div>
	</div>
	<div class="row">
		{% for block in site.footerBlocks %}
        {% assign colWidth = 12 | divided_by: forloop.length %}
		<div class="col-md-{{ colWidth }} col-xs-6">
			<h5>{{ block.title }}</h5>
			<ul>
				{% for linkElement in block.links %}
				<li><a href="{% if linkElement.permalink != null %} {{ linkElement.permalink | prepend: site.baseurl }} {% else %} {{ linkElement.link }} {% endif %}" {% if linkElement.link != null %}target="_blank"{% endif %}>{{ linkElement.text }}</a></li>
				{% endfor %}
			</ul>
		</div>
		{% endfor %}
	</div>
	<div class="row">
		<div class="col-md-6 col-xs-12">
			<ul class="social-links">
				{% for social in site.socialLinks %}
				<li>
					<a href="{% if social.permalink != null %} {{ social.permalink | prepend: site.baseurl }} {% else %} {{ social.link }} {% endif %}" target="_blank">
						<svg class="icon icon-{{ social.icon }}" viewBox="0 0 30 32">
							<use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-{{ social.icon }}"></use>
						</svg>
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="row">
		<!-- Please don't delete this line-->
		<div class="col-md-6">
			<p class="copyright">
				&copy; 2014 This website based on GDG[x]'s <a href="https://github.com/gdg-x/zeppelin" target="_blank">Project Zeppelin</a>.
                <!-- Armenian Web Sites Rating and Statistics , code for http://devfest.gdg.am -->
<script type="text/javascript">java="1.0";java1=""+"refer="+escape(document.referrer)+"&page="+escape(window.location.href); document.cookie="astratop=1; path=/"; java1+="&c="+(document.cookie?"yes":"now");</script>
<script type="text/javascript1.1">java="1.1";java1+="&java="+(navigator.javaEnabled()?"yes":"now")</script>
<script type="text/javascript1.2">java="1.2";java1+="&razresh="+screen.width+'x'+screen.height+"&cvet="+(((navigator.appName.substring(0,3)=="Mic"))? screen.colorDepth:screen.pixelDepth)</script>
<script type="text/javascript1.3">java="1.3"</script>
<script type="text/javascript">java1+="&jscript="+java+"&rand="+Math.random(); document.write("<a href='http://counter.am/?fromsite=408'><img "+" src='http://counter.am/img.php?id=408&"+java1+"&' border='0' alt='Armenian Web Sites Rating and Statistics' width='80' height='15'><\/a>");</script>
<noscript><a href="http://counter.am/?fromsite=408" target="_blank"><img src="http://counter.am/img.php?id=408" border="0" alt="Armenian Web Sites Rating and Statistics" width="80" height="15"></a></noscript>
<!-- /Armenian Web Sites Rating and Statistics -->
			</p>
		</div>
	</div>
</footer>
<!-- End Footer -->